USE [master]
GO
/****** Object:  Database [AdsPublisher]    Script Date: 10/04/2020 1:56:19 a. m. ******/
CREATE DATABASE [AdsPublisher]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AdsPublisher', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\AdsPublisher.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AdsPublisher_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\AdsPublisher_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AdsPublisher].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AdsPublisher]
GO
/****** Object:  Table [dbo].[Calificacion_MicroEmpresa]    Script Date: 10/04/2020 1:56:19 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calificacion_MicroEmpresa](
	[IDCalificacion] [int] IDENTITY(1,1) NOT NULL,
	[Puntuacion] [int] NULL,
	[Comentario] [nvarchar](500) NULL,
	[IDMicroEmpresa] [int] NULL,
 CONSTRAINT [PK_Calificacion_MicroEmpresa] PRIMARY KEY CLUSTERED 
(
	[IDCalificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 10/04/2020 1:56:19 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[IDCategoria] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](250) NULL,
	[FechaCreacion] [datetime] NULL,
 CONSTRAINT [PK_Categorias] PRIMARY KEY CLUSTERED 
(
	[IDCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoriasPorMicroEmpresas]    Script Date: 10/04/2020 1:56:19 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriasPorMicroEmpresas](
	[IDCatMicroEmpresa] [int] IDENTITY(1,1) NOT NULL,
	[IDSubCategoria] [int] NOT NULL,
	[IDMicroEmpresa] [int] NOT NULL,
	[FechaCreacion] [datetime] NULL,
 CONSTRAINT [PK_CategoriasPorMicroEmpresas] PRIMARY KEY CLUSTERED 
(
	[IDCatMicroEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clases]    Script Date: 10/04/2020 1:56:19 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clases](
	[IDClase] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](250) NULL,
	[FechaCreacion] [datetime] NULL,
 CONSTRAINT [PK_Clases] PRIMARY KEY CLUSTERED 
(
	[IDClase] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 10/04/2020 1:56:19 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[IDCliente] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [nvarchar](250) NULL,
	[Apellidos] [nvarchar](250) NULL,
	[Sexo] [int] NULL,
	[FechaCumpleanos] [datetime] NULL,
	[Correo] [nvarchar](250) NULL,
	[FechaCreacion] [datetime] NULL,
	[Activo] [bit] NULL,
	[Foto] [nvarchar](500) NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[IDCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facturas]    Script Date: 10/04/2020 1:56:19 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facturas](
	[IDFactura] [int] IDENTITY(1,1) NOT NULL,
	[IDMicroEmpresa] [int] NULL,
	[IDPlan] [int] NULL,
	[FechaCreacion] [datetime] NULL,
 CONSTRAINT [PK_Facturas] PRIMARY KEY CLUSTERED 
(
	[IDFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Historial_Pagos]    Script Date: 10/04/2020 1:56:19 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Historial_Pagos](
	[IDHistorialPago] [int] IDENTITY(1,1) NOT NULL,
	[IDFactura] [int] NULL,
	[FechaCreacion] [datetime] NULL,
 CONSTRAINT [PK_Historial_Pagos] PRIMARY KEY CLUSTERED 
(
	[IDHistorialPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Historial_Registro]    Script Date: 10/04/2020 1:56:19 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Historial_Registro](
	[IDHistorialReg] [int] IDENTITY(1,1) NOT NULL,
	[IDMicroEmpresa] [int] NOT NULL,
	[Descripcion] [nvarchar](250) NULL,
	[FechaCreacion] [datetime] NULL,
 CONSTRAINT [PK_Historial_Registro] PRIMARY KEY CLUSTERED 
(
	[IDHistorialReg] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MicroEmpresas]    Script Date: 10/04/2020 1:56:19 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MicroEmpresas](
	[IDMicroEmpresa] [int] IDENTITY(1,1) NOT NULL,
	[IDCliente] [int] NOT NULL,
	[Nombre] [nvarchar](250) NULL,
	[Descripcion] [nvarchar](max) NULL,
	[Fax] [nvarchar](80) NULL,
	[Telefono] [nvarchar](80) NULL,
	[Celular] [nvarchar](80) NULL,
	[Direccion] [nvarchar](250) NULL,
	[Longitud] [nvarchar](250) NULL,
	[Latitud] [nvarchar](250) NULL,
	[FechaCreacion] [datetime] NULL,
 CONSTRAINT [PK_MicroEmpresas] PRIMARY KEY CLUSTERED 
(
	[IDMicroEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parametros]    Script Date: 10/04/2020 1:56:19 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parametros](
	[IDParametro] [int] IDENTITY(1,1) NOT NULL,
	[IDClase] [int] NOT NULL,
	[Descripcion] [nvarchar](250) NOT NULL,
	[FechaCreacion] [datetime] NULL,
 CONSTRAINT [PK_Parametros] PRIMARY KEY CLUSTERED 
(
	[IDParametro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Perfil_Usuario]    Script Date: 10/04/2020 1:56:19 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfil_Usuario](
	[IDPerfilUsuario] [int] IDENTITY(1,1) NOT NULL,
	[IDRol] [int] NOT NULL,
	[IDPerfil] [int] NOT NULL,
	[IDUsuario] [int] NOT NULL,
	[Descripcion] [nvarchar](250) NULL,
	[FechaCreacion] [datetime] NULL,
 CONSTRAINT [PK_Perfil_Usuario] PRIMARY KEY CLUSTERED 
(
	[IDPerfilUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Perfiles]    Script Date: 10/04/2020 1:56:19 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfiles](
	[IDPerfil] [int] NOT NULL,
	[Descripcion] [nvarchar](250) NULL,
	[FechaCreacion] [datetime] NULL,
 CONSTRAINT [PK_Perfiles] PRIMARY KEY CLUSTERED 
(
	[IDPerfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Planes]    Script Date: 10/04/2020 1:56:19 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Planes](
	[IDPlan] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](80) NOT NULL,
	[Descripcion] [nvarchar](250) NULL,
	[Precio] [decimal](18, 0) NOT NULL,
	[Detalle] [nvarchar](max) NULL,
	[FechaCreacion] [datetime] NULL,
 CONSTRAINT [PK_Planes] PRIMARY KEY CLUSTERED 
(
	[IDPlan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PQRS]    Script Date: 10/04/2020 1:56:19 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PQRS](
	[IDPQRS] [int] IDENTITY(1,1) NOT NULL,
	[IDParametro] [int] NOT NULL,
	[Asunto] [nvarchar](250) NULL,
	[Descripcion] [nvarchar](max) NULL,
	[IDCliente] [int] NOT NULL,
	[FechaCreacion] [datetime] NULL,
 CONSTRAINT [PK_PQRS] PRIMARY KEY CLUSTERED 
(
	[IDPQRS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 10/04/2020 1:56:19 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[IDRol] [int] NOT NULL,
	[Descripcion] [nvarchar](250) NULL,
	[FechaCreacion] [datetime] NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[IDRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubCategoria]    Script Date: 10/04/2020 1:56:19 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubCategoria](
	[IDSubCategoria] [int] IDENTITY(1,1) NOT NULL,
	[IDCategoria] [int] NULL,
	[Descripcion] [nvarchar](250) NULL,
	[FechaCreacion] [datetime] NULL,
 CONSTRAINT [PK_SubCategoria] PRIMARY KEY CLUSTERED 
(
	[IDSubCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 10/04/2020 1:56:19 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IDUsuario] [int] IDENTITY(1,1) NOT NULL,
	[IDCliente] [int] NOT NULL,
	[Usuario] [nvarchar](250) NULL,
	[Password] [nvarchar](max) NULL,
	[FechaCreacion] [datetime] NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[IDUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Calificacion_MicroEmpresa]  WITH CHECK ADD  CONSTRAINT [FK_Calificacion_MicroEmpresa_MicroEmpresas] FOREIGN KEY([IDMicroEmpresa])
REFERENCES [dbo].[MicroEmpresas] ([IDMicroEmpresa])
GO
ALTER TABLE [dbo].[Calificacion_MicroEmpresa] CHECK CONSTRAINT [FK_Calificacion_MicroEmpresa_MicroEmpresas]
GO
ALTER TABLE [dbo].[CategoriasPorMicroEmpresas]  WITH CHECK ADD  CONSTRAINT [FK_CategoriasPorMicroEmpresas_MicroEmpresas] FOREIGN KEY([IDMicroEmpresa])
REFERENCES [dbo].[MicroEmpresas] ([IDMicroEmpresa])
GO
ALTER TABLE [dbo].[CategoriasPorMicroEmpresas] CHECK CONSTRAINT [FK_CategoriasPorMicroEmpresas_MicroEmpresas]
GO
ALTER TABLE [dbo].[CategoriasPorMicroEmpresas]  WITH CHECK ADD  CONSTRAINT [FK_CategoriasPorMicroEmpresas_SubCategoria] FOREIGN KEY([IDSubCategoria])
REFERENCES [dbo].[SubCategoria] ([IDSubCategoria])
GO
ALTER TABLE [dbo].[CategoriasPorMicroEmpresas] CHECK CONSTRAINT [FK_CategoriasPorMicroEmpresas_SubCategoria]
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Facturas_Planes] FOREIGN KEY([IDPlan])
REFERENCES [dbo].[Planes] ([IDPlan])
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_Facturas_Planes]
GO
ALTER TABLE [dbo].[Historial_Registro]  WITH CHECK ADD  CONSTRAINT [FK_Historial_Registro_MicroEmpresas] FOREIGN KEY([IDHistorialReg])
REFERENCES [dbo].[MicroEmpresas] ([IDMicroEmpresa])
GO
ALTER TABLE [dbo].[Historial_Registro] CHECK CONSTRAINT [FK_Historial_Registro_MicroEmpresas]
GO
ALTER TABLE [dbo].[MicroEmpresas]  WITH CHECK ADD  CONSTRAINT [FK_MicroEmpresas_Clientes] FOREIGN KEY([IDCliente])
REFERENCES [dbo].[Clientes] ([IDCliente])
GO
ALTER TABLE [dbo].[MicroEmpresas] CHECK CONSTRAINT [FK_MicroEmpresas_Clientes]
GO
ALTER TABLE [dbo].[Parametros]  WITH CHECK ADD  CONSTRAINT [FK_Parametros_Clases] FOREIGN KEY([IDClase])
REFERENCES [dbo].[Clases] ([IDClase])
GO
ALTER TABLE [dbo].[Parametros] CHECK CONSTRAINT [FK_Parametros_Clases]
GO
ALTER TABLE [dbo].[Perfil_Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Perfil_Usuario_Perfiles] FOREIGN KEY([IDPerfil])
REFERENCES [dbo].[Perfiles] ([IDPerfil])
GO
ALTER TABLE [dbo].[Perfil_Usuario] CHECK CONSTRAINT [FK_Perfil_Usuario_Perfiles]
GO
ALTER TABLE [dbo].[Perfil_Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Perfil_Usuario_Roles] FOREIGN KEY([IDRol])
REFERENCES [dbo].[Roles] ([IDRol])
GO
ALTER TABLE [dbo].[Perfil_Usuario] CHECK CONSTRAINT [FK_Perfil_Usuario_Roles]
GO
ALTER TABLE [dbo].[Perfil_Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Perfil_Usuario_Usuarios] FOREIGN KEY([IDUsuario])
REFERENCES [dbo].[Usuarios] ([IDUsuario])
GO
ALTER TABLE [dbo].[Perfil_Usuario] CHECK CONSTRAINT [FK_Perfil_Usuario_Usuarios]
GO
ALTER TABLE [dbo].[PQRS]  WITH CHECK ADD  CONSTRAINT [FK_PQRS_Clientes] FOREIGN KEY([IDCliente])
REFERENCES [dbo].[Clientes] ([IDCliente])
GO
ALTER TABLE [dbo].[PQRS] CHECK CONSTRAINT [FK_PQRS_Clientes]
GO
ALTER TABLE [dbo].[PQRS]  WITH CHECK ADD  CONSTRAINT [FK_PQRS_Parametros] FOREIGN KEY([IDParametro])
REFERENCES [dbo].[Parametros] ([IDParametro])
GO
ALTER TABLE [dbo].[PQRS] CHECK CONSTRAINT [FK_PQRS_Parametros]
GO
ALTER TABLE [dbo].[SubCategoria]  WITH CHECK ADD  CONSTRAINT [FK_SubCategoria_Categorias] FOREIGN KEY([IDCategoria])
REFERENCES [dbo].[Categorias] ([IDCategoria])
GO
ALTER TABLE [dbo].[SubCategoria] CHECK CONSTRAINT [FK_SubCategoria_Categorias]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Clientes1] FOREIGN KEY([IDCliente])
REFERENCES [dbo].[Clientes] ([IDCliente])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Clientes1]
GO
/****** Object:  StoredProcedure [dbo].[getClientes]    Script Date: 10/04/2020 1:56:19 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
#Fecha: 27-Marzo-2020
#Descripción: Procedimiento encargado de listar todos los clientes.
#Desarrollador por: Sixto José Romero Martínez
*/
--EXEC getClientes
CREATE PROCEDURE [dbo].[getClientes]
AS
	SELECT IDCliente
	,Nombres
	,Apellidos
	,Sexo	
	,FechaCumpleanos
	,Correo
	,Foto
	,FechaCreacion FROM [dbo].[Clientes]
GO
/****** Object:  StoredProcedure [dbo].[getMicroEmpresas]    Script Date: 10/04/2020 1:56:19 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
#Fecha: 09-Abril-2020
#Descripción: Procedimiento encargado de listar todas las MicroEmpresas por IDCliente.
#Desarrollador por: Sixto José Romero Martínez
*/
--EXEC getMicroEmpresas 11
CREATE PROCEDURE [dbo].[getMicroEmpresas]
	@IDCliente INT
AS
SELECT TOP (1000) [IDMicroEmpresa]
      ,[IDCliente]
      ,[Nombre]
      ,[Descripcion]
      ,[Fax]
      ,[Telefono]
      ,[Celular]
      ,[Direccion]
      ,[Longitud]
      ,[Latitud]
      ,[FechaCreacion]
  FROM [AdsPublisher].[dbo].[MicroEmpresas] WHERE  IDCliente = @IDCliente
GO
/****** Object:  StoredProcedure [dbo].[TableToClass]    Script Date: 10/04/2020 1:56:19 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sixto José Romero Martínez
-- Create date: 21/03/2020
-- Description:	Exporta clases en C# en base a una tabla
-- How Exec: exec TableToClass @TableName = 'Banks'
-- =============================================
CREATE PROCEDURE [dbo].[TableToClass]
	-- Add the parameters for the stored procedure here
	@TableName sysname 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	declare @Result varchar(max) = 'public class ' + @TableName + '
{'

select @Result = @Result + '
    public ' + ColumnType + NullableSign + ' ' + ColumnName + ' { get; set; }
'
from
(
    select 
        replace(col.name, ' ', '_') ColumnName,
        column_id ColumnId,
        case typ.name 
            when 'bigint' then 'long'
            when 'binary' then 'byte[]'
            when 'bit' then 'bool'
            when 'char' then 'string'
            when 'date' then 'DateTime'
            when 'datetime' then 'DateTime'
            when 'datetime2' then 'DateTime'
            when 'datetimeoffset' then 'DateTimeOffset'
            when 'decimal' then 'decimal'
            when 'float' then 'float'
            when 'image' then 'byte[]'
            when 'int' then 'int'
            when 'money' then 'decimal'
            when 'nchar' then 'string'
            when 'ntext' then 'string'
            when 'numeric' then 'decimal'
            when 'nvarchar' then 'string'
            when 'real' then 'double'
            when 'smalldatetime' then 'DateTime'
            when 'smallint' then 'short'
            when 'smallmoney' then 'decimal'
            when 'text' then 'string'
            when 'time' then 'TimeSpan'
            when 'timestamp' then 'DateTime'
            when 'tinyint' then 'byte'
            when 'uniqueidentifier' then 'Guid'
            when 'varbinary' then 'byte[]'
            when 'varchar' then 'string'
            else 'UNKNOWN_' + typ.name
        end ColumnType,
        case 
            when col.is_nullable = 1 and typ.name in ('bigint', 'bit', 'date', 'datetime', 'datetime2', 'datetimeoffset', 'decimal', 'float', 'int', 'money', 'numeric', 'real', 'smalldatetime', 'smallint', 'smallmoney', 'time', 'tinyint', 'uniqueidentifier') 
            then '?' 
            else '' 
        end NullableSign
    from sys.columns col
        join sys.types typ on
            col.system_type_id = typ.system_type_id AND col.user_type_id = typ.user_type_id
    where object_id = object_id(@TableName)
) t
order by ColumnId

set @Result = @Result  + '
}'

print @Result
END
GO
/****** Object:  StoredProcedure [dbo].[uspClientesInsert]    Script Date: 10/04/2020 1:56:19 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
#Fecha: 27-Marzo-2020
#Descripción: Procedimiento encargado de crear los clientes y usuarios.
#Desarrollador por: Sixto José Romero Martínez
*/
--EXEC uspClientesInsert 'Sixto José', 'Romero Martínez', 1, 36, '30/04/1982', 'sixto.jose@gmail.com', '123456'
CREATE PROCEDURE [dbo].[uspClientesInsert]
	@Nombres nvarchar(250)
	,@Apellidos nvarchar(250)
	,@Sexo int	
	,@FechaCumpleanos datetime
	,@Correo nvarchar(250)
	,@Password nvarchar(MAX)
AS
BEGIN
SET NOCOUNT ON;
BEGIN TRANSACTION
	BEGIN TRY	
		
		DECLARE @IDCliente INT
		DECLARE @IDUsuario INT
		DECLARE @EMAIL NVARCHAR(500)

		SELECT @EMAIL = Correo FROM [dbo].[Clientes] WHERE Correo = @Correo

		
		IF ISNULL(@EMAIL, '') = ''
		BEGIN
			INSERT INTO [dbo].[Clientes] (Nombres
			,Apellidos
			,Sexo			
			,FechaCumpleanos
			,Correo
			,FechaCreacion
			,Activo
			,Foto)
			VALUES (@Nombres
			,@Apellidos
			,@Sexo			
			,@FechaCumpleanos
			,@Correo
			,GETDATE()
			,0
			,'person.png')

			SELECT @IDCliente = IDENT_CURRENT('[dbo].[Clientes]');

			INSERT INTO [dbo].[Usuarios] (
				IDCliente
				,Usuario
				,Password
				,FechaCreacion)
			VALUES (
				@IDCliente
				,@Correo
				,@Password
				,GETDATE()
			)

			SELECT @IDUsuario = IDENT_CURRENT('[dbo].[Usuarios]');

			INSERT INTO [dbo].[Perfil_Usuario] (IDRol, IDPerfil, IDUsuario, Descripcion, FechaCreacion) VALUES (2, 2, @IDUsuario, 'Buscar Microempresas', GETDATE())
			INSERT INTO [dbo].[Perfil_Usuario] (IDRol, IDPerfil, IDUsuario, Descripcion, FechaCreacion) VALUES (2, 3, @IDUsuario, 'Publicar Microempresa', GETDATE())
			INSERT INTO [dbo].[Perfil_Usuario] (IDRol, IDPerfil, IDUsuario, Descripcion, FechaCreacion) VALUES (2, 4, @IDUsuario, 'Calificar', GETDATE())
			INSERT INTO [dbo].[Perfil_Usuario] (IDRol, IDPerfil, IDUsuario, Descripcion, FechaCreacion) VALUES (2, 5, @IDUsuario, 'Histórico de Visitas', GETDATE())
			INSERT INTO [dbo].[Perfil_Usuario] (IDRol, IDPerfil, IDUsuario, Descripcion, FechaCreacion) VALUES (2, 6, @IDUsuario, 'PQRS', GETDATE())


		END		
		
COMMIT TRANSACTION
	IF ISNULL(@EMAIL, '') = ''
	BEGIN
		SELECT 'success'
	END
	ELSE
	BEGIN
		SELECT 'failed'
	END
END TRY
BEGIN CATCH
	ROLLBACK TRANSACTION
	SELECT ERROR_MESSAGE();	
END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[uspClientesUpdate]    Script Date: 10/04/2020 1:56:19 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
#Fecha: 27-Marzo-2020
#Descripción: Procedimiento encargado de actualizar los clientes y usuarios.
#Desarrollador por: Sixto José Romero Martínez
*/
--EXEC uspClientesUpdate 'Diomedez', 'Díaz Maestre', 1, 75, '26/03/1951', 'maestre@hotmail.com', '123456'
CREATE PROCEDURE [dbo].[uspClientesUpdate]
	@IDCliente int
	,@Nombres nvarchar(250)
	,@Apellidos nvarchar(250)
	,@Sexo int	
	,@FechaCumpleanos datetime
	,@Correo nvarchar(250)
	,@Password nvarchar(MAX)
AS
BEGIN
SET NOCOUNT ON;
BEGIN 	
BEGIN TRANSACTION
	BEGIN TRY	
		
		UPDATE [dbo].[Clientes] SET Nombres = @Nombres
		,Apellidos = @Apellidos
		,Sexo = @Sexo		
		,FechaCumpleanos = @FechaCumpleanos
		WHERE IDCliente = @IDCliente

		UPDATE [dbo].[Usuarios] SET Password = @Password
		WHERE IDCliente = @IDCliente
		
COMMIT TRANSACTION
	SELECT 'success'
END TRY
BEGIN CATCH
	ROLLBACK TRANSACTION
	SELECT ERROR_MESSAGE();	
END CATCH
END
END
GO
/****** Object:  StoredProcedure [dbo].[uspDelMicroEmpresa]    Script Date: 10/04/2020 1:56:19 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
#Fecha: 10-Abril-2020
#Descripción: Procedimiento encargado de eliminar la microempresa seleccionada.
#Desarrollador por: Sixto José Romero Martínez
*/
--EXEC uspDelMicroEmpresa 4
CREATE PROCEDURE [dbo].[uspDelMicroEmpresa]
	@IDMicroEmpresa INT
AS
DELETE FROM [dbo].[MicroEmpresas] WHERE IDMicroEmpresa = @IDMicroEmpresa
GO
/****** Object:  StoredProcedure [dbo].[uspGetLogin]    Script Date: 10/04/2020 1:56:19 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
#Fecha: 27-Marzo-2020
#Descripción: Procedimiento encargado de listar todos los clientes.
#Desarrollador por: Sixto José Romero Martínez
*/
--EXEC uspGetLogin 'sixto.jose@gmail.com', '51x70'
CREATE PROCEDURE [dbo].[uspGetLogin]
	@Usuario nvarchar(500),
	@Password nvarchar(max)
AS
SELECT c.IDCliente
      ,c.Nombres
      ,c.Apellidos
      ,c.Sexo
      ,c.FechaCumpleanos
      ,c.Correo
      ,c.FechaCreacion
      ,c.Activo
	  ,c.Foto
  FROM [dbo].[Clientes] c
  INNER JOIN [dbo].[Usuarios] u on c.IDCliente = u.IDCliente
  WHERE u.Usuario = @Usuario and Password = @Password

GO
/****** Object:  StoredProcedure [dbo].[UspgetMicroEmpresaByID]    Script Date: 10/04/2020 1:56:19 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
#Fecha: 09-Abril-2020
#Descripción: Procedimiento encargado de consultar la microempresa por IDMicroEmpresa
#Desarrollador por: Sixto José Romero Martínez
*/
--EXEC UspgetMicroEmpresaByID 11
CREATE PROCEDURE [dbo].[UspgetMicroEmpresaByID]
	@IDMicroEmpresa INT
AS
SELECT IDMicroEmpresa
,IDCliente
,Nombre
,Descripcion
,Fax
,Telefono
,Celular
,Direccion
,Longitud
,Latitud
,FechaCreacion FROM [dbo].[MicroEmpresas] WHERE IDMicroEmpresa = @IDMicroEmpresa
GO
/****** Object:  StoredProcedure [dbo].[UspGetMicroEmpresas]    Script Date: 10/04/2020 1:56:19 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
#Fecha: 09-Abril-2020
#Descripción: Procedimiento encargado de listar todas las MicroEmpresas por IDCliente.
#Desarrollador por: Sixto José Romero Martínez
*/
--EXEC UspGetMicroEmpresas 11
CREATE PROCEDURE [dbo].[UspGetMicroEmpresas]
	@IDCliente INT
AS
SELECT TOP (1000) [IDMicroEmpresa]
      ,[IDCliente]
      ,[Nombre]
      ,[Descripcion]
      ,[Fax]
      ,[Telefono]
      ,[Celular]
      ,[Direccion]
      ,[Longitud]
      ,[Latitud]
      ,[FechaCreacion]
  FROM [AdsPublisher].[dbo].[MicroEmpresas] WHERE  IDCliente = @IDCliente
GO
/****** Object:  StoredProcedure [dbo].[uspMicroEmpresaInsert]    Script Date: 10/04/2020 1:56:19 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
#Fecha: 27-Marzo-2020
#Descripción: Procedimiento encargado de crear los clientes y usuarios.
#Desarrollador por: Sixto José Romero Martínez
*/
--EXEC [dbo].[uspMicroEmpresaInsert] 
CREATE PROCEDURE [dbo].[uspMicroEmpresaInsert]
	@IDCliente INT
	,@Nombre NVARCHAR(250)
	,@Descripcion NVARCHAR(250)
	,@Fax NVARCHAR(80)
	,@Telefono NVARCHAR(80)
	,@Celular NVARCHAR(80)
	,@Direccion NVARCHAR(250)
	,@Longitud NVARCHAR(250)
	,@Latitud NVARCHAR(250)
AS
BEGIN TRY	

	INSERT INTO [dbo].[MicroEmpresas] (
	IDCliente
	,Nombre
	,Descripcion
	,Fax
	,Telefono
	,Celular
	,Direccion
	,Longitud
	,Latitud
	) VALUES (
	@IDCliente
	,@Nombre
	,@Descripcion
	,@Fax
	,@Telefono
	,@Celular
	,@Direccion
	,@Longitud
	,@Latitud
	)

	SELECT 'success'
END TRY
BEGIN CATCH	
	SELECT ERROR_MESSAGE();
END CATCH

GO
/****** Object:  StoredProcedure [dbo].[uspMicroEmpresaUpdate]    Script Date: 10/04/2020 1:56:19 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
#Fecha: 10-Abril-2020
#Descripción: Procedimiento encargado de actualizar la microempresa.
#Desarrollador por: Sixto José Romero Martínez
*/
--EXEC [dbo].[uspMicroEmpresaInsert] 
CREATE PROCEDURE [dbo].[uspMicroEmpresaUpdate]
	@IDMicroEmpresa INT
	,@IDCliente INT
	,@Nombre NVARCHAR(250)
	,@Descripcion NVARCHAR(250)
	,@Fax NVARCHAR(80)
	,@Telefono NVARCHAR(80)
	,@Celular NVARCHAR(80)
	,@Direccion NVARCHAR(250)
	,@Longitud NVARCHAR(250)
	,@Latitud NVARCHAR(250)
AS
BEGIN TRY	

	UPDATE [dbo].[MicroEmpresas]
	SET Nombre = @Nombre
	,Descripcion = @Descripcion
	,Fax = @Fax
	,Telefono = @Telefono
	,Celular = @Celular
	,Direccion = @Direccion
	,Longitud = @Longitud
	,Latitud = @Latitud WHERE IDMicroEmpresa = @IDMicroEmpresa
	

	SELECT 'success'
END TRY
BEGIN CATCH	
	SELECT ERROR_MESSAGE();
END CATCH

GO
/****** Object:  StoredProcedure [dbo].[uspSetActivate]    Script Date: 10/04/2020 1:56:19 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
#Fecha: 29-Marzo-2020
#Descripción: Procedimiento encargado de Activar el cliente para usar la App.
#Desarrollador por: Sixto José Romero Martínez
*/
--EXEC uspSetActivate 'sixto.jose@gmail.com'
CREATE PROCEDURE [dbo].[uspSetActivate]
	@Correo nvarchar(500)
AS
	UPDATE [dbo].[Clientes] SET Activo = 1 WHERE Correo = @Correo
GO
USE [master]
GO
